services:
  #  redis:
  #    image: redis:6.0.9
  #    restart: always
  #    ports:
  #      - "6379:6379"
  #    network_mode: bridge
  #  some-rabbit:
  #    image: rabbitmq:3.8.9-management
  #    restart: always
  #    ports:
  #        - "5672:5672"
  #        - "15672:15672"
  #    environment:
  #        RABBITMQ_DEFAULT_USER: sastoj
  #        RABBITMQ_DEFAULT_PASS: 123456
  #    network_mode: bridge
  #  pg:
  #    image: postgres:13.1
  #    restart: always
  #    ports:
  #        - "5432:5432"
  #    environment:
  #        POSTGRES_USER: sastoj
  #        POSTGRES_PASSWORD: 123456
  #    volumes:
  #        - ./data/pg:/var/lib/postgresql/data
  #    network_mode: bridge
  #  go-judge:
  #    image: criyle/go-judge:v1.11.3
  #    restart: always
  #    ports:
  #      - "5051:5051"
  #    privileged: true
  #    shm_size: 512m
  #    network_mode: bridge
  admin:
    image: sastoj/admin:${GIT_COMMIT:-latest}
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: admin
      args:
        - SERVICE=admin
        - GIT_COMMIT=${GIT_COMMIT:-unknown}
    ports:
      - "8000:8000"
      - "9000:9000"
    volumes:
      - ./conf/admin/admin:/data/conf
      - ./data/cases:/data/cases
    external_links:
      - redis:rd
      - some-rabbit:mq
      - oj_pg:pg
    network_mode: bridge

  contest:
    image: sastoj/contest:${GIT_COMMIT:-latest}
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: contest
      args:
        - SERVICE=contest
        - GIT_COMMIT=${GIT_COMMIT:-unknown}
    ports:
      - "8100:8000"
      - "9100:9000"
    volumes:
      - ./conf/user/contest:/data/conf
    external_links:
      - redis:rd
      - some-rabbit:mq
      - oj_pg:pg
    network_mode: bridge

  gojudge-server:
    image: sastoj/gojudge-server:${GIT_COMMIT:-latest}
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: gojudge-server
      args:
        - SERVICE=gojudge
        - GIT_COMMIT=${GIT_COMMIT:-unknown}
    volumes:
      - ./conf/gojudge:/data/conf
      - ./data/cases:/data/cases
    external_links:
      - redis:rd
      - some-rabbit:mq
      - oj_pg:pg
    network_mode: bridge
    privileged: true
    deploy:
      replicas: 3
  freshcup:
    image: sastoj/freshcup-server:${GIT_COMMIT:-latest}
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: freshcup-server
      args:
        - SERVICE=freshcup
        - GIT_COMMIT=${GIT_COMMIT:-unknown}
    volumes:
      - ./conf/freshcup:/data/conf
      - ./data/cases:/data/cases
    external_links:
      - redis:rd
      - some-rabbit:mq
      - oj_pg:pg
    network_mode: bridge

  public-auth:
    image: sastoj/public-auth:${GIT_COMMIT:-latest}
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: public-auth
      args:
        - SERVICE=auth
        - GIT_COMMIT=${GIT_COMMIT:-unknown}
    ports:
      - "8300:8000"
      - "9300:9000"
    volumes:
      - ./conf/public/auth:/data/conf
    external_links:
      - redis:rd
      - oj_pg:pg
    network_mode: bridge